<div class="team-roster">

  <h3 class="team-roster-title">
    Roster
  </h3>

  <input
    type="search"
    id="roster-search"
    class="team-roster-search"
    placeholder="Find a player...">

  <% @roster.sort_by { |player| player_last_name(player) }.each do |player| %>

    <% if @playoff_players.include?(player[:player_id].to_s) %>

      <div
        class="roster-player font-roboto"
        data-player-id="<%= player[:player_id] %>"
        data-player-name="<%= player[:player_name].downcase %>">

        <%= link_to player_path(player[:player_id], team_id: params[:id]) do %>

          <%= image_tag player[:photo_url],
            class: "roster-player-photo",
            alt: player[:player_name] %>

          <div class="roster-player-content">
            <div class="roster-player-name">
              <p>
              <%= player[:player_name] %>
              </p>
              <span><i class="fa fa-external-link"></i></span>
            </div>

            <div class="roster-player-meta">
              #<%= player[:jersey] %>
              &bull;
              <%= player[:position] %>
              &bull;
              <%= player[:exp] %> yrs
            </div>
          </div>
        
        <% end %>

      </div>

    <% else %>

      <div
        class="roster-player roster-player-inactive font-roboto"
        data-player-name="<%= player[:player_name].downcase %>">

        <%= image_tag player[:photo_url],
          class: "roster-player-photo roster-player-inactive",
          alt: player[:player_name] %>

        <div class="roster-player-content roster-player-inactive">
          <div class="roster-player-name roster-player-inactive">
            <p>
            <%= player[:player_name] %>
            </p>
          </div>

          <div class="roster-player-meta roster-player-inactive">
            No playoff stats
          </div>
        </div>
      </div>

    <% end %>

  <% end %>

</div>
