<%= render 'shared/team_header' %>
<!-- Main Pane -->
<div class="main">
	<div class="page-sub-nav col-md-12">
		<h4>Team Index</h4>
	</div>
	<div class="col-md-12 alert alert-info alert-dismissible alert-custom" role="alert">
		<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		Welcome to Hoop Helix. The focus right now is on the 2015 NBA Playoffs, but I have more features and improvements planned for the off-season. Thanks for visiting.
	</div>


	<div class="col-md-12 team-list">
		<div class="container">
			<div class="row">
				<div class="col">col</div>
				<div class="col">col</div>
				<div class="col">col</div>
				<div class="col">col</div>
			</div>
		</div>
		<% @teams[0..15].sort_by { |hash| hash.team_city}.each do |hash| %>
			<div class="col team-unit">
					<a href="teams/<%= hash.team_id %>" onclick="dosomething();">
						<img src="https://cdn.nba.com/logos/nba/<%= hash.team_id %>/primary/L/logo.svg">
					<p><%= hash.team_city %> <%= hash.team_name %></p>
				</a>
			</div>
		<% end %>
	</div>
</div>
