<%= render 'shared/navbar' %>
<!-- Main Pane -->
<div class="main">
	<div class="page-sub-nav col-md-12">
		<h4>Team Index</h4>
	</div>
	<div class="col-md-12 alert alert-info alert-dismissible alert-custom" role="alert">
		<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		Welcome to Hoop Helix. The focus right now is on the 2015 NBA Playoffs, but I have more features and improvements planned for the off-season. Thanks for visiting.
	</div>


	<div class="col-md-12 team-list">
		<div class="container">
			<div class="row">
				<div class="col">col</div>
				<div class="col">col</div>
				<div class="col">col</div>
				<div class="col">col</div>
			</div>
		</div>
		<%# New view for team logos %>
		<% @teams.each do |team| %>
			<%= link_to team_path(team[:team_id]), onclick: "dosomething();" do %>
				<img src="<%= team[:logo_url] %>" alt="<%= team[:team_name] %> logo">
				<p><%= team[:team_name] %></p>
			<% end %>
		<% end %>
	</div>
</div>
