<!-- Main Pane -->
<div class="main">
	<header class="team-page-header">
		<h5 class="team-page-header-season">
			2025-26 NBA PLAYOFFS
		</h5>
		<h1 class="team-page-header-title">
			<%= @team_totals["team_name"] %>
		</h1>

		<h6 class="team-page-header-subtitle">
			Team Profile
		</h6>

		<div class="playoff-round-selector row mb-1">
			<div class="col-lg-3">

				<!-- Round selector -->
				<h5 class="selector-label text-uppercase text-muted mb-2">
					Playoff Round
				</h5>

				<%= form_with url: team_path(@team_totals[:team_id]),
					method: :get,
					local: true,
					html: { class: "playoff-round-form" } do %>

					<%= hidden_field_tag :team_id, @team_totals[:team_id] %>

					<%= select_tag(
						:round,
						options_for_select(
							@available_rounds.map { |r|

								case r

								when 0
										["All Rounds",0]

								when 1
										["First Round",1]

								when 2
										["Semifinals",2]

								when 3
										["Conference Finals",3]

								when 4
										["Finals",4]

								end

							},
						@selected_round
					),
					class: "form-select",
					onchange: "this.form.submit();"
					) %>

				<% end %>
			</div>
		</div>

		<div class="col-lg-3">
			<% if @playoff_opponent.present? && @selected_round.positive? %>
				<p class="playoff-round-opponent mt-3">
					vs. <%= @playoff_opponent[:opponent_team_name] %>
				</p>
			<% end %>
		</div>

	</header>

	<div class="row">

		<div class="col-lg-9">
			<%
			stat_categories = [
				{ title: "Minutes",      stat: :min,     total: @team_totals["min"] },
				{ title: "Touches",      stat: :touches, total: @team_totals["touches"] },
				{ title: "Points",       stat: :pts,     total: @team_totals["pts"] },
				{ title: "FG Made",      stat: :fgm,     total: @team_totals["fgm"] },
				{ title: "FG Attempted", stat: :fga,     total: @team_totals["fga"] },
				{ title: "3PT Made",     stat: :fg3m,    total: @team_totals["fg3m"] },
				{ title: "3PT Attempted",stat: :fg3a,    total: @team_totals["fg3a"] },
				{ title: "FT Made",      stat: :ftm,     total: @team_totals["ftm"] },
				{ title: "FT Attempted", stat: :fta,     total: @team_totals["fta"] },
				{ title: "Rebounds",     stat: :reb,     total: @team_totals["reb"] },
				{ title: "Off Reb",      stat: :oreb,    total: @team_totals["oreb"] },
				{ title: "Def Reb",      stat: :dreb,    total: @team_totals["dreb"] },
				{ title: "Assists",      stat: :ast,     total: @team_totals["ast"] },
				{ title: "Steals",       stat: :stl,     total: @team_totals["stl"] },
				{ title: "Blocks",       stat: :blk,     total: @team_totals["blk"] },
				{ title: "Personal Fouls Drawn", stat: :pfd, total: @team_totals["pfd"] },
				{ title: "Turnovers",    stat: :tov,     total: @team_totals["tov"] },
				{ title: "Blocks Against",   stat: :blka, total: @team_totals["blka"] },
				{ title: "Personal Fouls", stat: :pf,    total: @team_totals["pf"] },
				]
				%>

			<div class="category-grid">
				<% stat_categories.each do |category| %>
					<%= render "category_card",
						title: category[:title],
						stat: category[:stat],
						team_total: category[:total],
						players: @players %>
				<% end %>
			</div>
			<!-- Repeat for rebounds, assists, etc. -->
		</div>

		<div class="col-lg-3">
			<%= render "roster_directory" %>
		</div>		
		
  </div>
</div><!-- END Main -->
