<!-- Main Pane -->
<div class="main">
	<div class="page-sub-nav col-md-12">	 
	  	<h4><%= @team_totals["TEAM_NAME"] %></h4> 	 	
	</div>
	<div class="row">
    <div class="col-md-4 team-page-profile">
      <img src="https://cdn.nba.com/logos/nba/<%= @team_totals["TEAM_ID"] %>/primary/L/logo.svg">
    </div>

		<div class="stats-grid">
			<div>
				<h3>Points</h3>
				<p>Total: <%= @team_totals["PTS"] %></p>
				<ul>
					<% @players.sort_by { |p| -p[:pts] }.take(5).each do |player| %>
						<li><%= player[:player_name] %>: <%= player[:pts] %></li>
					<% end %>
				</ul>
			</div>
			<!-- Repeat for rebounds, assists, etc. -->
		</div>





		<h2>Roster</h2>
		<ul>
			<% @roster.each do |player| %>
				<li>
					<% if @playoff_players.include?(player[:player_id].to_s) %>
						<%= link_to player_path(player[:player_id], team_id: params[:id]), onclick: "startLoadingAnimation();" do %>
							<img src="<%= player[:photo_url] %>" alt="<%= player[:player_name] %>">
							<%= player[:player_name] %>
						<% end %>
					<% else %>
						<img src="<%= player[:photo_url] %>" alt="<%= player[:player_name] %>">
						<%= player[:player_name] %> (no playoff stats)
					<% end %>
				</li>
			<% end %>
		</ul>
		
  </div>
</div><!-- END Main -->
