<%= render 'shared/player_header' %>

<!-- Main Content -->
<section>
	<div class="page-sub-nav">
	  <h4>Team Contribution: All Rounds</h4>  	
	</div>
	<div class="col-md-8 stat-main">
		<h1><%= @player[:player_name] %></h1>
		<div class="stats-grid">
			<div>
				<h3>Points</h3>
				<p><%= @player[:pts] %> / <%= @team_totals["PTS"] %> team points</p>
				<p>Percentage of team points: <%= ((@player[:pts].to_f / @team_totals["PTS"]) * 100).round(2) %>%</p>
				<div class="bar">
					<div class="player-bar" style="width: <%= (@player[:pts].to_f / @team_totals["PTS"]) * 100 %>%"></div>
				</div>
			</div>
		<!-- Repeat for assists, rebounds, etc. -->
	</div>
	<h3>Minutes</h3>
	<%= debug(@player[:min]) %>
	<%= debug(@team_totals["MIN"]) %> <!-- if i display this it should be *5 so that it reflects total minutes played by all players. Since that is waht the multiplier is for. -->
	<div class="progress">
		<% contribution = player_contribution(@player[:min], @team_totals["MIN"], multiplier: 5) %>
		<div class="progress-bar"
				role="progressbar"
				style="width: <%= contribution %>%;">
			<%= contribution.to_i %>%
		</div>
		<%= debug(contribution)%>
	</div>
	<h3>Points</h3>
	<%= debug(@player[:pts]) %>
	<%= debug(@team_totals["PTS"]) %>
	<div class="progress">
		<% contribution = player_contribution(@player[:pts], @team_totals["PTS"], multiplier: 1) %>
		<div class="progress-bar"
				role="progressbar"
				style="width: <%= contribution %>%;">
			<%= contribution.to_i %>%
		</div>
	</div>

	<!-- STL -->
	  <div class="row">
    	<div class="col-md-5 stat-name-purple">
	        <h3>STL</h3>
    	</div>
	  	<div class="col-md-6 overview-bars">	  
	      <div class="progress">
	          <% contribution = player_contribution(@player[:stl], @team_totals["STL"], multiplier: 1) %>
							<div class="progress-bar"
									role="progressbar"
									style="width: <%= contribution %>%;">
								<%= contribution.to_i %>%
							</div>
          </div>
          <div class="row">
		    <div class="col-xs-6 player-data-purple">
		      <p><%= @player[:stl] %> STL</p>
		    </div>
		    <div class="col-xs-6 team-data" style="text-align:right">
		      <p><%= @team_totals["STL"]%> STL</p>
		    </div>
		  </div>
	    </div><!-- END overview-bars -->    	
	  </div><!-- END STL -->

</section>
