<%# removed shared player header for now %>
<!-- Main Pane -->
<div class="main">
	<div class="page-sub-nav">
	  <h4>Team Contribution: All Rounds<h4>  	
	</div>
	<div class="col-md-8 stat-main">
		<h1><%= @player[:player_name] %></h1>
		<div class="stats-grid">
			<div>
				<h3>Points</h3>
				<p><%= @player[:pts] %> / <%= @team_totals["PTS"] %> team points</p>
				<p>Percentage of team points: <%= ((@player[:pts].to_f / @team_totals["PTS"]) * 100).round(2) %>%</p>
				<div class="bar">
					<div class="player-bar" style="width: <%= (@player[:pts].to_f / @team_totals["PTS"]) * 100 %>%"></div>
				</div>
			</div>
		<!-- Repeat for assists, rebounds, etc. -->
	</div>

	<div class="progress">
		<div class="progress-bar" role="progressbar" aria-valuenow="<%= (@player[:ast].to_f / @team_totals["AST"]) * 100 %>" aria-valuemin="0" aria-valuemax="100"></div>
	</div>
	<div class="progress">
		<div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
	</div>
</div>
