<!DOCTYPE html>
<html>
<head>
  <title>Hoop Helix</title>
  <%= stylesheet_link_tag    'application.css', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application.js', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
  <link href='https://fonts.googleapis.com/css?family=Dosis:600|Glegoo:700|Roboto' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
</head>
<body>
<!-- Animated preloader -->
<div id="page-loader" class="page-loader">

  <div class="page-loader__content">

    <div class="page-loader__title">
      Loading the data...
    </div>

    <div class="page-loader__dots">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>

  </div>

</div>

<header>
  <%= render 'shared/navbar' %>
</header>
<main class="container" role="main">
  <%= yield %>
</main>

<footer>
	<!-- FOOTER -->
	<div class="footer">
		<div class="col-sm-12 col-md-7">
			<h2>Hoop Helix</h2>
      <h6>Examining the Distribution of Contribution in Basketball</h6>

      <p>
        Hoop Helix is a data-driven platform that provides a unique perspective on basketball, focusing on team dynamics and player contributions. Our goal is to enhance the enjoyment, understanding, and appreciation of the game by analyzing how individual players impact their teams' performance.
      </p>
      <p>
        Created, designed, and developed by
        <a href="https://github.com/RaquelCPS" target="_blank">RaquelCPS</a> + 
        <a href="https://www.chicagopublicskills.com" target="_blank">Chicago Public Skills</a>
      
        <br/>
        &copy; <%= Time.now.year %> Hoop Helix, RaquelCPS, Chicago Public Skills. All rights reserved.
      </p>
      <p>
        <a href="https://www.instagram.com/chicagopublicskills" target="_blank">Instagram</a>
      </p>
			
			<div class="footer-attribution">
				<p>Statistics, player photos, and team logos are from the <a href="http://nba.com" target="_blank">National Basketball Association</a></p>
			</div>
		</div>
	</div>
	<!-- END footer -->
</footer>


</body>
</html>
