<!DOCTYPE html>
<html>
<head>
  <title>Hoop Helix</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
  <link href='https://fonts.googleapis.com/css?family=Dosis:600|Glegoo:700|Roboto' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
</head>
<body>
<!-- Animated preloader -->
<div id="loading">
    <img src="http://www.webdesign.org/img_articles/13053/loading-gif-animation.gif" alt="loading" />
</div>
 <div id="message">   
   <h1 class="alert alert-info">Data may take several seconds to load.<br/>Thanks for your patience.</h1>
</div>

<header>
  <%= render 'shared/navbar' %>
</header>
<main class="container" role="main">
  <%= yield %>
</main>

<footer>
	<!-- FOOTER -->
	<div class="footer">
		<div class="col-md-7">
			<h2>Hoop Helix</h2>
      <h6>Examining the Distribution of Contribution in Basketball</h6>

      <p>
        Hoop Helix is a data-driven platform that provides a unique perspective on basketball, focusing on team dynamics and player contributions. Our goal is to enhance the enjoyment, understanding, and appreciation of the game by analyzing how individual players impact their teams' performance.
      </p>
      <p>
        Created, designed, and developed by
        <a href="https://github.com/RaquelCPS" target="_blank">RaquelCPS</a>/
        <a href="https://www.chicagopublicskills.com" target="_blank">Chicago Public Skills</a>
      </p>
      <p>
        <a href="https://www.instagram.com/chicagopublicskills" target="_blank">Instagram</a>
      </p>
      <p> &copy; <%= Time.now.year %> Hoop Helix, Inc. All rights reserved. <br>
        Copyright Chicago Public Skills, RaquelCPS
      </p>
			
			<div class="footer-attribution">
				<p>Statistics, player photos, and team logos are from the <a href="http://nba.com" target="_blank">National Basketball Association</a></p>
			</div>
		</div>
	</div>
	<!-- END footer -->
</footer>


<!-- JS for animated preloader -->
<script>
function hideLoading() {
    // other code can be placed here 
    $("#loading").hide();
    $("#message").hide();
    // other code can be placed here
}

function showLoading() {
    // other code can be placed here 
    $("#loading").show();
    $("#message").show();
    // other code can be placed here
}

function startLoadingAnimation() {
  showLoading();
  // simulate a task that can take 3 seconds
  // afterwards show hide the loading GIF
  setTimeout(hideLoading, 25000);
  return false;
}
</script>
</body>
</html>
